.coolstuff {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.coolstuff-2 {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1c1917;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
.coolstuff:focus-visible,
.coolstuff-2:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #059669;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: #059669;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.coolstuff:hover {
  border-color: #059669;
}

.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.boxshadow2 {
  box-shadow: rgba(36, 67, 32, 0.25) 0px 54px 55px,
    rgba(36, 67, 32, 0.12) 0px -12px 30px, rgba(36, 67, 32, 0.12) 0px 4px 6px,
    rgba(36, 67, 32, 0.17) 0px 12px 13px, rgba(36, 67, 32, 0.09) 0px -3px 5px;
}
